.emboridery-left{
	margin:30px;
	float:left;
	width:250px;
	height: 500px;

}
.emboridery-right{
	margin:30px;
	display:inline-block;
	width:250px;
	height: 500px;
	margin-left:30px;

}

.emboridery-image{
	width:250px;
	height:400px;
	background-color:lightgrey;
}

.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
} 
.myButton {
	box-shadow:inset -2px -1px 0px -50px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	padding:9px 19px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {
	box-shadow:inset -2px -1px 0px -50px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	padding:12px 35px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton2:active {
	position:relative;
	top:1px;
}


